<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<%# A action é para onde quero ir depois de digitar algo no formulário. Nesse caso,
quero ir para as respostas%>
